// mobile
.contents__contact{
    min-width: 343px;
    height: 352px;
    background-color: #030303;
    border-radius: 10px;
    text-align: center;
    padding: 48px 24px;
    margin: 100px 16px 24px;
}

.contact__headline{
    font-weight: 700;
    font-size: 26px;
    color: #FFF7F0;
}

.contact__phrase{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #FFF7F0;
    opacity: 0.8;
    margin-top: 24px;
}

.contact__btn{
    width: 176px;
    height: 44px;
    background-color: #EB7565;
    border-radius: 28px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    color: #FFF7F0;
    margin-top: 24px;
}
// tablet
@media (min-width:770px){
    .contents__contact{
    width: 690px;
    height: 352px;
    padding: 56px 75px;
    margin: 100px 39px 22px;
}

.contact__headline{
    font-weight: 700;
    font-size: 32px;
}

.contact__phrase{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #FFF7F0;
    margin-top: 26px;
}}

.contact__btn{
    width: 228px;
    height: 56px;
    font-weight: 700;
    font-size: 16px;
    margin-top: 26px;
} //Btn hover is with profile__btn together

// desktop
@media (min-width: 1400px){
    .contents__contact{
        min-width: 1110px;
        height: 320px;
        padding: 80px 65px;
        margin: 88px 165px 22px;
        display: flex;
        justify-content: space-between;
    }
    
    .contact__text{
        text-align: start;
        width: 540px;
    }
    .contact__headline{
        font-weight: 700;
        font-size: 32px;
    }
    
    .contact__phrase{
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #FFF7F0;
        margin-top: 26px;
    }
    
    .contact__btn{
        margin-top: 52px;
    }
}